<div id="spinner-container" data-api-route="/api?processingTime={{ processingTime }}">
    <h1 class="govuk-heading-l">There is a delay returning you to the service</h1>

    <p class="govuk-body">Try to continue to the service again</p>

    <form class="form" action="proceed-to-relying-party" method="post">
        <input class="govuk-button govuk-!-margin-top-4" type="submit" value="Continue to the service">
    </form>
</div>
