{% extends "layouts/main.html" %}

{% set pageName="Index" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% block content %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">

            <h1 class="govuk-heading-xl">
                {{ serviceName }}
            </h1>

            <p class="govuk-body-l">
                This prototype includes scenarios a user may encounter when an asynchronous network request
                determines if the processing necessary to continue to the next step in their journey has completed.</p>
            <p class="govuk-body-l">
                It has been produced to support frontend development of the component by demonstrating component behaviour under different conditions.
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--yellow govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS doesn't run
            </strong>

            <h2 class="govuk-heading-m">JavaScript does not run</h2>
            <p class="govuk-body">There are <a href="https://www.kryogenix.org/code/browser/everyonehasjs.html">many
                    reasons</a> why JavaScript may not run for a user. GDS
                previously
                found that
                <a href="https://gds.blog.gov.uk/2013/10/21/how-many-people-are-missing-out-on-javascript-enhancement/">around
                    1 in 93 users will miss out on a JavaScript enhancement</a>. For this reason, the Service Manual
                describes <a
                        href="https://www.gov.uk/service-manual/technology/using-progressive-enhancement">the need to
                    use
                    progressive enhancement</a> to ensure these users are included.</p>

            <p class="govuk-body">
                Where JavaScript has not loaded, we cannot initiate an asynchronous network request or make dynamic
                updates to the page content.
            </p>

            <p class="govuk-body">
                This scenario simulates JavaScript not loading.
            </p>

            <p class="govuk-body">
                {{ govukButton({
                    text: "See the page where JavaScript doesn't run",
                    isStartButton: false,
                    disabled: true,
                    href: "/spinner-page-javascript-does-not-run"
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--yellow govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs slowly
            </strong>


            <h2 class="govuk-heading-m">JavaScript runs after a delay</h2>
            <p class="govuk-body">In this scenario, JavaScript loads and runs, but the load is slow. This page simulates the execution happening 2 seconds after the
                page has loaded.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "See the page with JavaScript run delayed",
                    href: "/spinner-page-javascript-runs-after-a-delay",
                    isStartButton: false
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs quickly
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--red govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                No response
            </strong>

            <h2 class="govuk-heading-m">Server doesn't respond</h2>
            <p class="govuk-body">In this scenario, the server does not respond to the asynchronous JavaScript
                request to check if processing is complete.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "To be confirmed",
                    disabled: true
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs quickly
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Server responds
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--red govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Error response
            </strong>

            <h2 class="govuk-heading-m">Server responds with an error</h2>
            <p class="govuk-body">In this scenario, the user cannot proceed because the server has responded to the asynchronous JavaScript request with an error.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "See the page where there's been an error",
                    href: "/spinner-page-server-responds-with-error.njk"
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs quickly
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Server responds
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--red govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Processing endless
            </strong>

            <h2 class="govuk-heading-m">Server processing doesn't complete</h2>
            <p class="govuk-body">In this scenario, the user cannot proceed because server continually responds
                with the same message: the processing is not complete.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "To be confirmed",
                    isStartButton: false,
                    disabled: true
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs quickly
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Server responds
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Can proceed
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--yellow govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Long wait
            </strong>

            <h2 class="govuk-heading-m">Server processing takes around 10 seconds</h2>
            <p class="govuk-body">In this scenario, the user has to wait 10 seconds for the processing necessary for
                them to continue to complete.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "See the page with a 10 second wait",
                    href: "/spinner-page-processing-slow",
                    isStartButton: false
                }) }}
            </p>

            <hr class="govuk-section-break govuk-section-break--visible">

            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                JS runs quickly
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Server responds
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Can proceed
            </strong>
            <strong class="govuk-tag app-tag govuk-tag--green govuk-!-margin-bottom-4 govuk-!-margin-top-4">
                Short wait
            </strong>

            <h2 class="govuk-heading-m">Server processing takes around 2 seconds</h2>
            <p class="govuk-body">In this scenario, the user has to wait 2 seconds for the processing necessary for them
                to continue to complete.</p>

            {% from "govuk/components/button/macro.njk" import govukButton %}

            <p class="govuk-body">
                {{ govukButton({
                    text: "See the page with a 2 second wait",
                    href: "/spinner-page-processing-quick",
                    isStartButton: false
                }) }}
            </p>

        </div>
    </div>

{% endblock %}