{% extends "layouts/main.njk" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% block content %}

    {% include "includes/_shared-content.njk" %}

{% endblock %}


{% block pageScripts %}

    <script>
        try {
            failToRunJavaScript()
        } catch(error) {
            console.error(error)
        }

        function failToRunJavaScript() {
            throw new Error("Something went wrong, preventing JavaScript from running");
        }
    </script>

{% endblock %}

