'{% extends "layouts/main.njk" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% block content %}

    <h1 class="govuk-heading-l">JavaScript runs after a delay</h1>

    <form class="form" action="relying-party" method="post">
        <div id="spinner-container" data-api-route="api"></div>
    </form>

{% endblock %}


{% block pageScripts %}

    <script>
        let injectScript = function () {
            let scriptTag = document.createElement('script');
            scriptTag.setAttribute('src', '/public/javascripts/spinner.js');
            document.body.appendChild(scriptTag);
        }

        setTimeout(injectScript, 2000)
    </script>
{% endblock %}

