{% extends "layouts/main.njk" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% set processingTime = 2 %}

{% block content %}

    {% include "includes/_shared-content.njk" %}

{% endblock %}


{% block pageScripts %}
    <script src="/public/javascripts/spinner.js"></script>
{% endblock %}

