'{% extends "layouts/main.njk" %}

{% block pageTitle %}
    {{ serviceName }}
{% endblock %}

{% set url = "/api" %}

{% block content %}

    {% include "includes/_shared-content.njk" %}

{% endblock %}


{% block pageScripts %}

    <script>
        const injectScript = function () {
            const scriptTag = document.createElement('script');
            scriptTag.setAttribute('src', '/public/javascripts/spinner.js');
            document.body.appendChild(scriptTag);
        }

        setTimeout(injectScript, 2000)
    </script>
{% endblock %}

